@model IEnumerable<PROP.Areas.Technical.Models.TechnicalTeam>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2> Technical Team Member List</h2>
<hr/>
<p>
    <a asp-action="Create"  class="btn btn-outline-primary" >Create New</a>
</p>
<table class="table table-bordered table-striped">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Department)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Contact)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Department)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Contact)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.Id"  class="btn btn-outline-primary">Edit</a> 
                <a asp-action="Details" asp-route-id="@item.Id"  class="btn btn-outline-info">Details</a>
                <a asp-action="Delete" asp-route-id="@item.Id"  class="btn btn-outline-danger">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
